<h2>Edit Question:</h2>

<% if !@errors.nil? %>
  <p><font color='magenta'><%= @errors %></font></p>
<% end %>

<%= form_for @question, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
  <%= f.text_area :title, placeholder: "Title" %><br><br>
  <%= f.text_area :description, placeholder: "Description", size: "40x12" %></p>
  <%= f.submit "Submit" %>
<% end %>

<br>
<%= link_to "Delete Question", @question, method: :delete,
                                 data: { confirm: "Are you sure you want to delete this question?" } %>
<br>
<br>
<%= link_to 'Back to Questions', questions_path %>
